/**
 * @name Dark Bloody Theme
 * @author Raphaël Martin | Kitsui#8258
 * @description A dark discord theme for BetterDiscord users
 * @source https://gitlab.com/kitsuiwebster/dark-bloody-ds-theme
 */

@import url('https://fonts.googleapis.com/css2?family=Rajdhani');

:root {
    --background-primary: linear-gradient(180deg, rgba(23,0,5,1) 10%, rgba(0,0,0,1) 65%); 
    --background-secondary: linear-gradient(180deg, rgba(23,0,5,1) 10%, rgba(0,0,0,1) 65%); 
    --font-primary: 'Rajdhani';
    --primary-text-color: lightgray; 
}
